$slot-column-margin: 7px;
$number-of-reels: 5;
$number-of-rows: 5;

#slot-machine {
    background-color: black;
    margin-left: 2vw;
    margin-top: 10vh;
    width: 96vw;
    height: 50vw;
    max-height: 80vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
    border-style: solid;
    border-width: $slot-column-margin;
    box-sizing: border-box;
}

.reel {
    width: calc((96vw - ((#{$number-of-reels} + 1) * #{$slot-column-margin})) / #{$number-of-reels});
    background-color: white;
    height: calc(72vw - (2 * #{$slot-column-margin}));
    max-height: calc(120vh - (2 * #{$slot-column-margin}));
    margin-top: 0vw;
    float: left;
    overflow: hidden;
    position: relative;
}

.reel-glass {
    position: absolute;
    height: calc(50vw - (2 * #{$slot-column-margin}));
    max-height: calc(80vh - (2 * #{$slot-column-margin}));
    width: 100%;
    box-shadow: inset 0 0 5px black;
    border-style: none;
    background-image: linear-gradient(rgba(0,0,0,0.25) 0%, rgba(255,255,255, 0) 20%, rgba(255,255,255, 0) 80%, rgba(0,0,0,0.25) 100%);
}

.reel-border {
    box-sizing: border-box;
    border-style: solid;
    border-width: $slot-column-margin;
}

.reel-lucky {
    @extend .reel-border;
    animation: flash-silver 2s linear infinite;
}

.reel-super-lucky {
    @extend .reel-border;
    animation: flash-gold 2s linear infinite;
}

.symbol {
    width: 100%;
    height: calc((50vw - (2 * #{$slot-column-margin})) / #{$number-of-rows});
    max-height: calc((80vh - (2 * #{$slot-column-margin})) / #{$number-of-rows});
    position: relative;
    float: left;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    box-sizing: border-box;
    animation: insert-symbol 0.080s linear;
    overflow: hidden;
}

.symbol-basic {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 5%, rgb(181, 181, 181) 100%);
}

.symbol-rainbow {
    background: radial-gradient(circle, rgba(36,18,0,1) 0%, rgba(121,9,109,1) 17%, rgba(6,174,161,1) 51%, rgba(4,197,16,1) 61%, rgba(198,152,12,1) 73%, rgba(191,199,8,1) 86%, rgba(255,0,0,1) 100%);
}

.symbol-teal {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 5%, rgba(0,255,239,1) 100%);
}

.symbol-pink {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 5%, rgba(255,0,241,1) 100%);
}

.symbol-yellow {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 5%, rgba(245,255,0,1) 100%);
}

.symbol-orange {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 5%, rgb(255, 208, 68) 100%);
}

.symbol-image {
    height: calc((50vw - (8 * #{$slot-column-margin})) / #{$number-of-rows});
    max-height: calc((80vh - (8 * #{$slot-column-margin})) / #{$number-of-rows});
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.new-symbol {
    @extend .symbol;
    animation: insert-symbol 0.080s;
}

@keyframes insert-symbol {
    0% {
        height: 0vw;
    }
    100% {
        height: 9.6vw;
    }
}

@keyframes flash-silver {
    0% {
        border-color: rgba(0,0,0,0);
    }
    50% {
        border-color: silver;
    }
    100% {
        border-color: rgba(0,0,0,0);
    }
}

@keyframes flash-gold {
    0% {
        border-color: rgba(0,0,0,0);
    }
    50% {
        border-color: gold;
    }
    100% {
        border-color: rgba(0,0,0,0);
    }
}